*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

:root {
  --primary: #1ce783;
  --serene-slate: #586174;
  --crystal-veil: #f6f7f8;
  --abyssal-nightfall: #040405;
  --radiant-jade: #00ed82;
}
